*{
   margin:0;
   padding:0;

}
.mainContainer{
   margin: auto;
   width: 80%;
   display: grid;
   grid-template-columns: 1fr 2em 2fr 1fr;
   grid-gap: 0px;
  
}
h1{
   text-align: center;
   margin: 0.7em;
}
body{
   background-color: #edebe9;
}


.dark{
   background-color:#86a666;
}

.ligth{
   background-color: #ffffdd;
}

.chessboard{
   aspect-ratio: 1;
   grid-column: 3;
   display: grid;
   grid-template-columns: repeat(8, 1fr);
   grid-template-rows: repeat(8, 1fr);
   grid-gap: 0;
   overflow: hidden;
   border-radius: 1%;
   margin: 0.5em;
}

.rightContainer{
   grid-column: 4;
   width: 100%;
   overflow: hidden;
   border-radius: 0.2em;
   display:flex;
   flex-direction: column;
}

.gameMovesContainer{
   font-family: 'Noto Sans', Sans-Serif;
   font-size: calc(min(1.6vh,1.6vw));
   color: #363636;
   background-color: white;
   flex-grow: 1;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: flex-start;
   align-content: flex-start;
}

.index{
   color:gray;
   background-color: #f7f6f5;
   border-right: solid 0.1em lightgray;
   width: calc(14% - 0.2em);
   height: 1.81em;
   display: flex; 
   justify-content: center;
   align-items: center;

}
.move{
   width: 43%;
   height: 1.8em;
   display: flex; 
   justify-content: center;
   align-items: center;
}

.move:hover{
   background-color: rgb(86, 120, 221);
   color: white;
}

.toolbarContainer{
   background-color: white;
   grid-column: 4;
}

.anotationContainer{
   background-color: white;
   grid-column: 1;
   
}

.lineContainer{
   width: 100%;
   background-color: #f7f6f5;
   border-top: 0.1em solid lightgray;
   border-bottom: 0.1em solid lightgray;
}

.line{
   padding-left: 0.9em;
   padding-top: 0.3em;
   padding-bottom: 0.3em;
}
.line span:hover{
   background-color: rgb(124, 153, 241);
   color: white;
}
.line:before{
   content: '- ';
}
.selectedNode{
   background-color: rgb(91, 129, 243);
   color: white;
}

.engineContainer{
   background-color: #f7f6f5;
   font-family: 'Noto Sans', Sans-Serif; 
   color: #4d4d4d;
   overflow: hidden;
   
}

.engineHeaderContainer{
   display: flex;
   justify-content: space-between;
   align-content: center;
   align-items: center;
   min-height: 2.5em;
   border-bottom: lightgray 0.1em solid;
}
.eval{
   font-size: 1.3em;
   font-weight: bold;

   padding-top:0.4em;
   padding-bottom: 0.4em;
   padding-left:0.4em;
}

.depth{
   font-size:0.8em;
}

.engineName{
color: rgb(95, 93, 93);
}

.switch {
   position: relative;
   display: inline-block;
   width: 2.4em;
   height: 1.6em;
   margin: 0.5em;
 }
 

.switch input {
   opacity: 0;
   width: 0;
   height: 0;
 }
 
 /* The slider */
 .slider {
   position: absolute;
   cursor: pointer;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: #ccc;
   -webkit-transition: .4s;
   transition: .4s;
 }
 
 .slider:before {
   position: absolute;
   content: "";
   height: 1.2em;
   width: 1.2em;
   left: 4px;
   bottom: 4px;
   background-color: white;
   -webkit-transition: .4s;
   transition: .4s;
 }
 
 input:checked + .slider {
   background-color: #629924;
 }
 
 input:focus + .slider {
   box-shadow: 0 0 1px #629924;
 }
 
 input:checked + .slider:before {
   -webkit-transform: translateX(0.85em);
   -ms-transform: translateX(0.85em);
   transform: translateX(0.85em);
 }
 
 /* Rounded sliders */
 .slider.round {
   border-radius: 1.5em;
 }
 
 .slider.round:before {
   border-radius: 50%;
 }

.engineLine{
   clear:both;
   border-bottom: lightgray 0.1em solid;
   color: rgb(94, 94, 94);
   background-color: white;
   padding: 0.2em;
   padding-left: 0.4em;
   text-align: left;
   font-size: 0.791em;
}

.engineLine strong{
   margin-right: 1em;
}