*{
   margin:0;
   padding:0;

}
.mainContainer{
   margin: auto;
   width: 80%;
   display: grid;
   grid-template-columns: 1fr 2em 2fr 1fr;
   grid-gap: 0px;
  
}
h1{
   text-align: center;
   margin: 0.7em;
}
body{
   background-color: #edebe9;
}


.dark{
   background-color:#86a666;
}

.ligth{
   background-color: #ffffdd;
}

.chessboard{
   aspect-ratio: 1;
   grid-column: 3;
   display: grid;
   grid-template-columns: repeat(8, 1fr);
   grid-template-rows: repeat(8, 1fr);
   grid-gap: 0;
   overflow: hidden;
   border-radius: 1%;
   margin: 0.5em;
}

.rightContainer{
   grid-column: 4;
   width: 100%;
   overflow: hidden;
   border-radius: 0.2em;
}

.engineContainer{
   background-color: gainsboro;
   height: 20%;
}

.gameMovesContainer{
   font-family: 'Noto Sans', Sans-Serif;
   font-size: calc(min(1.6vh,1.6vw));
   height: 80%;
   color: #363636;
   background-color: white;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: start;
   align-content: flex-start;
}

.index{
   color:gray;
   background-color: #f7f6f5;
   border-right: solid 0.1em lightgray;
   width: calc(14% - 0.2em);
   height: 2.5em;
   display: flex; 
   justify-content: center;
   align-items: center;

}
.move{
   width: 43%;
   height: 2.5em;
   display: flex; 
   justify-content: center;
   align-items: center;
}

.move:hover{
   background-color: rgb(86, 120, 221);
   color: white;
}

.toolbarContainer{
   background-color: white;
   grid-column: 3;
   grid-row: 3;
}

.anotationContainer{
   background-color: white;
   grid-column: 1;
   grid-row: 1 /3;
   
}

.lineContainer{
   width: 100%;
   background-color: #f7f6f5;
   border-top: 0.1em solid lightgray;
   border-bottom: 0.1em solid lightgray;
}

.line{
   padding-left: 10px;
   padding-top: 0.3em;
   padding-bottom: 0.3em;
}
.line span:hover{
   background-color: rgb(124, 153, 241);
   color: white;
}
.line:before{
   content: '-';
}
